form {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.form__title {
  text-align: center;
  font-size: 25px;
  color: #303f9f;
  font-weight: 500;
  padding-top: 30px;
  padding-bottom: 20px;
  margin: 0;
}