.kanban {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  width: 95%;
  margin: 40px auto 10px auto;
}

.kanban__section {
  width: 24%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}

.kanban__section a {
  text-decoration: none;
  color: black;
}



