.modal__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 10;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(159, 168, 218, 0.3);
}

.modal {
  width: 350px;
  height: 150px;
  background-color: #3f51b5;
  box-shadow: 5px 5px 5px rgba(106,148,212,0.7); 
  border-radius: 3px;
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal__link {
  display: flex;
  justify-content: center;
  width: 100%;
  text-decoration: none;
  color: #052F6D;
}

.modal__text {
  color: #ffffff;
  font-size: 20px;
}

.modal__btn {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #6A94D4;
  box-shadow: 0 0 5px rgba(5,47,109,0.5); 
  color:  #052F6D;
  width: 30%;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}

.modal__btn:hover {
  background-color: #c5cae9;
}